
<div class = "confirmationWindow">

  <p></p>
  <p>





  </p>
  <p></p>



  <div>

  </div>

  <mat-card class="confirmationCard">

    <p class="tradeInfo"> WAS Wizards Moneyline -275 </p>
    <p class="gameInfo">Wednesday 7:10PM DEN Nuggets at WAS Wizards</p>

    <div class="innerConfirmationCard">
      <div></div>
      <mat-form-field appearance="fill" floatLabel="always" class="amountBox">
        <mat-label>Bet Amount</mat-label>
        <input matInput type="number" class="example-right-align" placeholder="EX: 100">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
      <div></div>

      <div></div>
      <button color="primary" class="confirmButton">CONFIRM</button>
      <div></div>

    </div>


  </mat-card>

  <div>

  </div>

</div>

