<div class="pa-record-container">


  <parecord-component class="card-item" *ngFor="let parecord of parecords" [parecord]="parecord"
  (deleteEvent)="deletePARecord($event)" (editEvent)="editClicked($event)" >

  </parecord-component>

</div>


<div class="fab-container">
  <button mat-flat-button color="primary"  matTooltip="Add new class" (click)="userService.generateRandomActivity()">
<!--    would be nice to put in a [disable]="variable" here until new ones are done being added-->
    <i class="material-icons">add</i>
  </button>
</div>
